@charset "utf-8";
/* CSS Document */
body{
	font-size:12px;
	font-family:Arial;
	min-width:1024px;
	background:#fefefe;
}

*{
	margin:0px;
	padding:0px;
	color:#999;	
}

hr{
	border:none;
	border-bottom:1px solid #e7e7e7;
}

a{
	color:#999;
}

a:hover{
	text-decoration:none;
	color:#dd2727;
}

.redcolor{
	color:#dd2727 !important;
}

.nav_div{
	background:#f2f2f2;
}

nav.top{
	width:1024px;
	margin:0px auto;
	padding:5px 0px;
	border-bottom:#e7e7e7;
}

nav.top span,nav.top a{
	color:#999;
	margin:0px 10px;
}

nav.top a:hover,nav.top a:hover strong{
	text-decoration:none;
	color:#dd2727;
}

div.simpleSearchOutDiv{
	position:relative;
	width:1024px;
	height:80px;
	margin:0px auto;
}

img.simpleLogo{
	position:absolute;
	left:0px;
	top:26px;
}

div.simpleSearchDiv{
	position:absolute;
	right:0px;
	background:#dd2727;
	width:400px;
	margin:15px auto;
	height:40px;
	padding:2px;
	display:block;
}

input.simpleSearchInput{
	width:274px;
	border:none;
	height:36px;
	outline:none;
	float:left;
}

input.simpleSearchBtn{
	width:120px;
	height:36px;
	outline:none;
	border:none;
	margin-left:2px;
	font-size:20px;
	float:left;
	color:#fff;
	background:#dd2727;
	font-weight:bold;
}

div.simpleSearchBelow{
	margin-top:42px;
	margin-left:-10px;
}

div.simpleSearchBelow a{
	padding:0px 10px;
	font-size:14px;
}

div.orderFormListDiv{
	width:1010px;
	margin:0px auto;
}

div.orderFormListTag{
	margin-bottom:20px;
	font-size:16px;
	border-bottom:1px solid #e8e8e8;
	height:40px;
}

div.orderFormListTag li{
	float:left;
	list-style:none;
	line-height:39px;
	font-weight:bold;
}

div.orderFormListTag li a{
	color:#000;
	padding:0px 15px;
}

div.orderFormListTag li span{
	font-size:18px;
	display:inline-block;
	width:1px;
	height:22px;
	vertical-align:text-bottom;
	background:#e8e8e8;
}

div.orderFormListTag li a:hover{
	color:#dd2727;
}

div.orderFormListTag li a:visited{
	text-decoration:none;
}


table.orderFormListHead,table.orderFormListBody{
	width:1010px;
}

table.orderFormListHead{
	margin-bottom:20px;
}

table.orderFormListHead tr{
	background:#f5f5f5;
	border:1px solid #e8e8e8;
	height:48px;
}

table.orderFormListHead td{
	text-align:center;
	color:#333;
}

table.orderFormListBody{
	border:1px solid #e8e8e8;
	margin-bottom:20px;
}

table.orderFormListBody:hover{
	border:1px solid #aaa;
}

table.orderFormListBody .orderItemTop{
	height:45px;
	background:#f5f5f5;
	color:#333;
}

.orderItemTop div.wangwangGif{
	margin:0px 25px;
	background-image:url(../img/site/wangwang.gif);
	height:20px;
}

table.orderFormListBody .orderItemTop td{
	text-align:center;
	color:#333;
}

table.orderFormListBody .orderItemTop td span{
	color:#333;
}

.orderItemContent .orderItemDetail img{
	margin-right:4px;
}

table.orderFormListBody .orderItemTop td .orderItemTime{
	margin-left:10px;
	font-weight:bold;
}

table tr td.leftTd{
	text-align:left !important;
}

table tr td.borderTd{
	border-left:1px solid #e8e8e8;
}

table.orderFormListBody .orderItemContent{
	height:94px;
	color:#333;
	border-top:#eee 1px solid;
}

table.orderFormListBody .orderItemContent td{
	text-align:center;
	color:#333;
}

table.orderFormListBody .orderItemContent tr{
	height:94px;
}

table.orderFormListBody .orderItemContent .orderItemImg{
	margin:8px 10px;
	float:left;
}

table.orderFormListBody .orderItemContent .orderItemDetail{
	float:left;
	height:94px;
	padding:10px;
}

.orderItemContent .orderItemDetail span{
	display:inline-block;
	height:50px;
	padding-top:10px;
}

.orderItemPay{
	background:#66b6ff;
	text-align:center;
	padding:10px 15px;
	margin:20px;
	border-radius:2px;
	color:#fff;	
	font-weight:bold;
}


.orderItemConfirm{
	color:#fff;
	background:#66b6ff;
	text-align:center;
	padding:8px;
	margin:0px 17px;
	font-weight:bold;
	border-radius:2px;
}

.orderItemDelivery{
	color:#fff;
	background:#66b6ff;
	text-align:center;
	padding:6px;
	margin:0px 12px;
	font-weight:bold;
	border-radius:2px;
}

.orderItemConfirm:hover,.orderItemPay:hover,.orderItemDelivery:hover{
	background:#1c9eff;
}

.orderItemReview{
	text-align:center;
	padding:5px 0px;
	margin:25px;
	border-radius:2px;
	color:#333;	
	font-weight:bold;
	border:1px solid #e8e8e8;
}

.orderItemReview:hover{
	border:1px solid #dd2727;
}

table .originalPrice{
	text-decoration:line-through;
}

table .discountPrice,div.actualPayment{
	color:#333;
}

div.footer_ensure{
	margin:24px auto;
	width:982px;
	height:90px;	
}

div.footer_desc{
	width:1024px;
	margin:0px auto;
	height:170px;
}

div.footer_desc .desc{
	float:left;
	width:150px;
	height:170px;
	margin-left:54px;
}

div.footer_desc .desc_title{
	height:20px;
	line-height:20px;
	font-size:16px;
	color:#333;
	font-weight:bold;
}

div.footer_desc li{
	height:20px;
	line-height:20px;
	list-style:none;
	font-size:16px;
}

div.footer .copyright{
	background:#000;
	height:auto;
	padding:10px 0px;
}

.service_link{
	width:1024px;
	margin:0px auto;
}

.service_link a{
	color:#fff;
	margin:0px 5px;
}

.copyright .rights{
	width:1024px;
	margin:0px auto;
}



	

