@charset "utf-8";
/* CSS Document */
body{
	font-size:12px;
	font-family:Arial;
	min-width:1024px;
	background:#fefefe;
}

*{
	margin:0px;
	padding:0px;
	color:#999;	
}

hr{
	border:none;
	border-bottom:1px solid #e7e7e7;
}

a{
	color:#999;
}

a:hover{
	text-decoration:none;
	color:#dd2727;
}

.redcolor{
	color:#dd2727 !important;
}

.nav_div{
	background:#f2f2f2;
}

nav.top{
	width:1024px;
	margin:0px auto;
	padding:5px 0px;
	border-bottom:#e7e7e7;
}

nav.top span,nav.top a{
	color:#999;
	margin:0px 10px;
}

nav.top a:hover,nav.top a:hover strong{
	text-decoration:none;
	color:#dd2727;
}

img.logo{
	position:absolute;
	left:0px;
	top:-40px;
	z-index:-1;
}

div.searchOutDiv{
	width:1024px;
	margin:0px auto;
	position:relative;
}

div.searchDiv{
	background:#dd2727;
	width:400px;
	margin:50px auto;
	height:40px;
	padding:2px;
	display:block;
}

input.searchInput{
	width:274px;
	border:none;
	height:36px;
	outline:none;
	float:left;
}

input.searchBtn{
	width:120px;
	height:36px;
	outline:none;
	border:none;
	margin-left:2px;
	font-size:20px;
	float:left;
	color:#fff;
	background:#dd2727;
	font-weight:bold;
}

div.searchBelow{
	margin-top:42px;
	margin-left:-10px;
}

div.searchBelow a{
	padding:0px 10px;
	font-size:14px;
}

div.rankingTop{
	width:1024px;
	margin:0px auto;
}

div.itemShowDiv{
	padding-left:12px;
	width:1024px;
	height:auto;
	margin:0px auto;
	margin-top:10px;
}

div.itemShow{
	width:1012px;
	height:auto;
}

div.itemShowContent{
	background:#fff;
	width:190px;
	height:314px;
	float:left;
	border:1px solid #eee;
	margin-right:12px;
	margin-left:0px;
	margin-bottom:10px;
}

div.itemShowContent:hover{
	border:1px solid #dd2727;
}

div.itemShowContent .itemimg{
	width:188px;

}

div.itemShowContent .itemDetail{
	font-size:12px;
	font-size:#666;
	padding-left:5px;
	padding-right:5px;
}

div.itemShowContent .itemPrice{
	margin-top:3px;
	text-align:center;
	color:#dd2727;
	font-size:16px;	
	height:30px;
	line-height:30px;
}

div.itemShowContent .itemPrice span{
	color:#dd2727;
}

div.itemShowContent .itemTmall{
	padding-left:5px;
	margin:5px 0px;
}

div.itemShowContent .itemTmall a{
	text-decoration:underline;
}

div.itemMessage{
	border-top:1px solid #eee;
	width:100%;
	height:30px;
}

div.itemMessage span{
	display:inline-block;
}

div.itemMessage .monthSellNum{
	width:88px;
	height:28px;
	line-height:28px;
	padding-left:5px;
}

div.itemMessage .monthSellNum b{
	color:#B57C5B;
	margin-left:2px;
}

div.itemMessage .itemComment{
	border-right:solid 1px #eee;
	border-left:solid 1px #eee;
	height:28px;
	width:68px;
	line-height:28px;
	padding-left:5px;
}

div.itemMessage .itemComment b{
	color:#3388BB;
	margin-left:2px;
}

div.itemMessage .customerService{
	line-height:28px;
	margin-left:3px;
}


div.itemShowEnd {
	width:998px;
	height:53px;
	background:#f5f5f5;
}

div.itemShowEnd img{
	width:82px;
	height:53px;
	margin-left:500px;
}


div.footer_ensure{
	margin:24px auto;
	width:982px;
	height:90px;	
}

div.footer_desc{
	width:1024px;
	margin:0px auto;
	height:170px;
}

div.footer_desc .desc{
	float:left;
	width:150px;
	height:170px;
	margin-left:54px;
}

div.footer_desc .desc_title{
	height:20px;
	line-height:20px;
	font-size:16px;
	color:#333;
	font-weight:bold;
}

div.footer_desc li{
	height:20px;
	line-height:20px;
	list-style:none;
	font-size:16px;
}

div.footer .copyright{
	background:#000;
	height:auto;
	padding:10px 0px;
}

.service_link{
	width:1024px;
	margin:0px auto;
}

.service_link a{
	color:#fff;
	margin:0px 5px;
}

.copyright .rights{
	width:1024px;
	margin:0px auto;
}



	

